@tailwind base;
@tailwind components;
@tailwind utilities;

* ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
* ::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
  border-radius: 4px;
}

.textarea {
  font-size: inherit;
  line-height: inherit;
}

/* bug? */
.dropdown-end .dropdown-content {
  right: initial;
}
