@tailwind base;
@tailwind components;
@tailwind utilities;

* ::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}
* ::-webkit-scrollbar-thumb {
  background-color: oklch(var(--p));
  border-radius: 2px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--p)) transparent;
}

.textarea {
  font-size: inherit;
  line-height: inherit;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}
